body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #1b5e20, #43a047);
  min-height: 100vh;
  background: linear-gradient(-45deg, #ff6b6b, #ffb347, #6a11cb, #2575fc);
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;
}

.app-container {
  max-width: 850px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
  box-shadow: 0 20px 50px rgba(0,0,0,0.4);
  color: white;
}

.main-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  text-shadow: 2px 2px 15px rgba(0,0,0,0.4);
}

.input-section {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.input-field {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: 0.3s;
}

.input-field:focus {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255,255,255,0.4);
}

.primary-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(45deg, #ff9800, #ff5722);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.primary-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.danger-btn {
  margin-top: 10px;
  padding: 8px 15px;
  background: #ff1744;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.section {
  margin-bottom: 40px;
  
}

.card {
  background: rgba(255,255,255,0.2);
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.2);
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 15px 35px rgba(0,0,0,0.5);
}

.warning {
  border-left: 5px solid yellow;
}

.expired {
  border-left: 5px solid red;
  opacity: 0.7;
}

.recipe-box, .shopping-box {
  background: rgba(0,0,0,0.3);
  padding: 15px;
  border-radius: 12px;
  white-space: pre-wrap;
}

.empty-text {
  opacity: 0.7;
}

/* Modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  color: black;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  animation: pop 0.3s ease;
}

@keyframes pop {
  from { transform: scale(0.7); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
